.section-email-input {
  background-color: $yellow;

  .content {
    padding: 140px 0 156px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    text-align: center;
    color: #ffffff;

    h2 {
      font-weight: 900;
      font-size: 54px;
    }

    p {
      font-weight: 400;
      font-size: 32px;
    }

    .email {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      padding: 10px 26px;
      width: 575px;
      min-height: 90px;
      background-color: #ffffff;

      input {
        width: 100%;
        min-height: 100%;
        font-size: 24px;
        color: #000000;
      }

      button {
        background-color: #000000;
        padding: 18px 36px;
        font-size: 32px;
        font-weight: 500;
        border-radius: 8px;
      }
    }
  }
}
