.section-favourites {
  margin-bottom: 220px;

  .favourites {
    h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 104px;
      font-weight: 900;
      font-size: 48px;
      z-index: 1;

      &::after {
        content: url("./icons/yellow-figna.svg");
        position: absolute;
        right: 0;
        bottom: -20px;
        z-index: -1;
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;

      .card {
        &__img {
          width: 835px;
          height: 575px;
        }
      }
    }
  }
}
